.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 139);
    padding: 15px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    font-weight: normal;
}

a:hover {
    color: rgb(221, 221, 221);
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
    }
}